In [1]:
%pip install pandas

Requirement already satisfied: pandas in c:\users\qortl\appdata\local\programs\python\python310\lib\site-packages (2.2.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\qortl\appdata\roaming\python\python310\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in c:\users\qortl\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: numpy>=1.22.4 in c:\users\qortl\appdata\local\programs\python\python310\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: pytz>=2020.1 in c:\users\qortl\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\qortl\appdata\roaming\python\python310\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.2.3; however, version 24.0 is available.
You should consider upgrading via the 'c:\Users\qortl\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

In [2]:
import pandas as pd

co_df = pd.read_csv('./merge_comments.csv')

bw_df = pd.read_csv('./merge_comments2.csv')
bw_df

                                                Comment  Target
0     근데 변기유천 빠들은 왜 관련도 없는 이세영 기사에서 쿵쾅 대는거임? ㅋㅋ SM한테...       1
1     당직병 현씨왈 나는 미복귀로 인식했다. 일개 사병이 왜 미복귀인지를 지가 판단하냐?...       1
2                  역시 여자는 말라야 좋치 속으로는 마른여자 좋아하면서 솔찍해집시다       1
3                                  상당히 징그러운 성ㅡㅣ괴세요 ^^;;       1
4                                 네이버 =틀딱놀이터 다음 = 좀비놀이터       1
...                                                 ...     ...
9639                                  원곡 양내 누린내나서못듣것어..       0
9640                                     노래좀 해라 요즘은 안하노       0
9641                           이게 웃긴가 ㄹㅇ 유튭 세계관 이해 못하겠다       0
9642                                               불쾌하다       0
9643                     좋긴한데 그닥 .. 그냥 그런데 왜다들 호들갑인지 ㅡㅡ       0

[9644 rows x 2 columns]

In [3]:
bw_df.columns = ['Comment', 'Target']
bw_df

                                                Comment  Target
0     근데 변기유천 빠들은 왜 관련도 없는 이세영 기사에서 쿵쾅 대는거임? ㅋㅋ SM한테...       1
1     당직병 현씨왈 나는 미복귀로 인식했다. 일개 사병이 왜 미복귀인지를 지가 판단하냐?...       1
2                  역시 여자는 말라야 좋치 속으로는 마른여자 좋아하면서 솔찍해집시다       1
3                                  상당히 징그러운 성ㅡㅣ괴세요 ^^;;       1
4                                 네이버 =틀딱놀이터 다음 = 좀비놀이터       1
...                                                 ...     ...
9639                                  원곡 양내 누린내나서못듣것어..       0
9640                                     노래좀 해라 요즘은 안하노       0
9641                           이게 웃긴가 ㄹㅇ 유튭 세계관 이해 못하겠다       0
9642                                               불쾌하다       0
9643                     좋긴한데 그닥 .. 그냥 그런데 왜다들 호들갑인지 ㅡㅡ       0

[9644 rows x 2 columns]

In [4]:
co_df.columns = ['Comment', 'Target']
co_df

                                                Comment  Target
0                                           이건 문재인이 잘했네       0
1                              Dna 마크 강제 웃참챌린지 하게 해주네..       0
2                           와..밥먹으면서 너덜트네 하고 켰다가 체했음;;;       0
3       스팀으로 사출기 만들면 꽤 많은 공간을 차치하고 그공간만큼 더 적재 공간을 늘려야 함       0
4                                   버닝썬이 중국자본 통로였다고 하더만       0
...                                                 ...     ...
9525                               진짜 저 개성없는 머리는 왜 하는거냐       1
9526                        오나1홀도 애1무 잘해주면 물 나온다 함 해보라ㅏ       1
9527                          좀있으면 100억도 나오겠네 시발 ㅋㅋㅋㅋㅋㅋ       1
9528  세금 내놓으라고 데모질 중 ㅋㅋ간첩, 도둑놈 새끼들이 대통령 해처먹으니까  나도 같...       1
9529                           우리나라교회는 악마들이모여 주뎅이 처벌리고        1

[9530 rows x 2 columns]

In [5]:
df_combined = pd.concat([co_df, bw_df], ignore_index=True)
df_combined

                                               Comment  Target
0                                          이건 문재인이 잘했네       0
1                             Dna 마크 강제 웃참챌린지 하게 해주네..       0
2                          와..밥먹으면서 너덜트네 하고 켰다가 체했음;;;       0
3      스팀으로 사출기 만들면 꽤 많은 공간을 차치하고 그공간만큼 더 적재 공간을 늘려야 함       0
4                                  버닝썬이 중국자본 통로였다고 하더만       0
...                                                ...     ...
19169                                원곡 양내 누린내나서못듣것어..       0
19170                                   노래좀 해라 요즘은 안하노       0
19171                         이게 웃긴가 ㄹㅇ 유튭 세계관 이해 못하겠다       0
19172                                             불쾌하다       0
19173                   좋긴한데 그닥 .. 그냥 그런데 왜다들 호들갑인지 ㅡㅡ       0

[19174 rows x 2 columns]

In [6]:
df_combined.drop_duplicates(inplace=True)

In [7]:
df_combined.duplicated().sum()

0

In [8]:
display(df_combined[df_combined['Comment'].isna()])
df_combined = df_combined.dropna(subset=['Comment'])

Empty DataFrame
Columns: [Comment, Target]
Index: []

In [9]:
df_combined.Target.value_counts()

Target
0    9575
1    8225
Name: count, dtype: int64

In [10]:
# 타겟 데이터 언더샘플링
zero = df_combined[df_combined.Target == 0].sample(8225, random_state=124)
one = df_combined[df_combined.Target == 1]

df = pd.concat([zero, one])
df.reset_index(drop=True, inplace=True)
df

                                                 Comment  Target
0      측면 추돌시 전복되기 쉬운차는 맞는것 같지만... 일상 주행시에 코너 돌때 전복될 ...       0
1                                                  지옥참밀도       0
2                                진짜 꿀 가득 차있는거 맛있어 보인다...       0
3                                와 수준진짜 높아졌네...차 디자인도 좋고       0
4                                                   응 안사       0
...                                                  ...     ...
16445      빠순이들아 쉴드치면 더욕먹는다 ㅉㅉ 민혁은 사기꾼 아들이네 ㅉㅉ 돈갚아라 나쁜넘아       1
16446  사생들아. 저거보고 나도 장애 가져서 빅뱅 좋다고 하면 너만의 선물 줄거란 기대로 ...       1
16447                북에서는 자유롭게 배타고 오드만 왜 우린 일본도 못가냐 재앙아?       1
16448  게이야 고려시대는 꽤 괜찮은 중세시대였다~그리고 조선도 태종 까지는 괜찮은 편이었는...       1
16449  브라 안했다고 기사 메인에 뜨는 거 자체가 진짜 웃기고 무서운 일. 이게 대단한 일...       1

[16450 rows x 2 columns]

In [11]:
df.Target.value_counts()

Target
0    8225
1    8225
Name: count, dtype: int64

In [12]:
df.to_csv('merge_comments_data.csv', index=False, encoding='utf-8-sig')